
<section id="alert-modal">

	<div class="page-header">
	
		<h1>Rtcomm Alert Modal</h1>

		
	</div>	

	<div class="row">

		<div class="col-md-3"></div>

		<div class="col-md-6 text-center">

			<div ng-controller="RtcommAlertModalController"></div>

			<button type="button" ng-click="callMe()" class="btn btn-primary registered">Rtcomm-bot, call me!</button>

		</div>


	</div>

	<br/>

	<hr>

	<tabset>


		<tab heading="HTML">

			<pre class="prettyprint">


	&lt;div ng-controller="RtcommAlertModalController"&gt;&lt;/div&gt;


			</pre>
		</tab>


		<tab heading="JavaScript">

			<pre class="prettyprint">


			</pre>

		</tab>
	</tabset>
</section>
