<br/>

<div role="main" >
	<div class="container-fluid">
		<div class="row">

	
			<div class="col-md-12">

				<h1 class="text-center">API</h1>
				<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-2 col-sm-3 aside-menu">
							<br/>

							<br/>
                                               <!-- <div class="well well-api">-->

                                                        <ul class="nav nav-list nav-pills nav-stacked">
	
								<li class="nav-header" >Directives</li>
								<li ng-repeat="directive in directives">

									<a ui-sref="{{directive.state}}" href="#/api">
										{{directive.name}}
									</a>

								</li>
								<hr>
								<li class="nav-header">Services</li>
								<li ng-repeat="service in services">
									<a ui-sref="{{service.state}}" href="#/api">
										{{service.name}}
									</a>
								</li>

								<hr>
								<li class="nav-header">Concepts</li>
								<li ui-sref="concepts" href="#/api"><a></a></li>

							</ul>

<!--						</div>-->


					</div>
					<div class="col-md-8" style="background-color:white ;">

						<ui-view></ui-view>	 
					</div>

				</div>
			</div>	



		</div>	

	</div>
</div>
