<section id="chat">

	<div class="page-header">

		<h1>Rtcomm Chat</h1>
	</div>
		<div class="row">

			<div class="col-md-3"></div>
			<div class="col-md-6">
				<rtcomm-chat></rtcomm-chat>

				<div class="text-center">

				<input type="text" ng-model="demoCallerID" class="form-control" placeholder="Enter the name of someone to chat with, ex. john_smith" />
<br/>
				<button type="button" class="btn btn-primary" ng-click="startChat()">Start Chat</button>
				<button type="button" class="btn" ng-click="stopChat()">Stop Chat</button></div>
			</div>

		</div>
<br/>
	<p>This <strong> chat directive</strong> demo, allows you to start a chat session with another person who is currently accessing the webpage. Input their registered name in the field above and start the chat session.</p>

<p>RtcommChat allows users to initiate real time chat conversations with another user. This feature needs 'chat' to be enabled on the client. One can initiate the chat session using the <a href="#"><strong>RtcommService</strong></a> as in the code below or through the <a href="#"><strong>RtcommPresence</strong></a> directive and enabling the chat option. This allows users to start chat sessions with other users in the same topic.</p>

	<h4>CSS - Customize Color and Size </h4>
	
<p>	The color and size of this directive can be changed by modifying the attributes related to it found in the <a href="https://github.com/WASdev/lib.angular-rtcomm/blob/master/src/css/angular-rtcomm.css"><strong>angular-rtcomm.css</strong></a> file </p>:
	
		<ul>
			<li><code>.chat</code> - Overall chat diretive element</li>
			<li><code>.chat li</code> - List element containing the chat message (timestamp, name, message)</li>
			<li><code>.chat li .chat -body p</code> - Can be used to set the <strong>color</strong> of the messages in the chat</li>	
		</ul>

		<hr>
				<tabset>




					<tab heading="HTML" >
						<pre class="prettyprint">
&lt;rtcomm-chat&gt;&lt;/rtcomm-chat&gt;

&lt;button type="button" class="btn btn-primary" ng-click="startChat()"&gt;
	Start Chat
&lt;/button&gt;

&lt;button type="button" class="btn" ng-click="stopChat()"&gt;
	Stop Chat
&lt;/button&gt;

						</pre>

					</tab>
					<tab heading="JavaScript">
						<pre class="prettyprint">


rtcommPageApp.controller('RtcommChatDemoCtrl', function($scope, RtcommService){

        /* Start chatting with rtcomm-bot */
        $scope.startChat = function(){
                /* Check if the endpoint is already connected */
                var status = RtcommService.getSessionState(RtcommService.getActiveEndpoint());

                /* Not connected to rtcomm-bot? Start chatting! */
                if(status == 'session:stopped'){

                        /* Start chat session with rtcomm-bot*/
                        RtcommService.placeCall('rtcomm-bot', ['chat']);
                }

                /* Already in a video call with rtcomm-bot? Start chatting! */
                else if(status == 'session:started'){
                        //Get the current active endpoint       
                        var openEndpoint = RtcommService.getEndpoint(RtcommService.getActiveEndpoint());

                        openEndpoint.chat.enable();

                }

        }

        /* Disconnect the user from the session */
        $scope.stopChat = function(){

                 /* Get the active endpoint in the session */
                var activeEndpointUUID =  RtcommService.getActiveEndpoint();
         
                var activeEndpoint = RtcommService.getEndpoint(activeEndpointID);

                /* Disconnect the endpoint from the session */
                activeEndpoint.disconnect();
        }
})


						</pre>
					</tab>

				</tabset>









</section>
