

<section id="endpoint-status" >

	<div class="page-header">
		<h1>Rtcomm Endpoint Status</h1>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			<rtcomm-endpoint-status></rtcomm-endpoint-status>
			
		</div>
	</div>

	<br/>

			<p>Displays the current status of the user's endpoint. The status depends on the current action being done, for example if it's trying to call another endpoint or if it is receiving an inboudn call. </p>
	<hr>

	<tabset>


	</tabset>
				
		


</section>
