  <header class="bs-header text-center">
                                <h1> Angular Rtcomm</h1>
                </header>
                <div role="main">
                <div class="container">



<div class="row">
                                <div class="col-md-12">
                                        <hr>
                                        <div class="well">
                                                <p class="lead" style="text-align:center">AngularJS Directives and Services for Real Time Communications. Powered by WebRTC.</p>

                                                <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-2">
                                                                <button type="button" style="width: 100%" class="btn btn-primary"> Download (1.0.0)</button> 
                                                         </div>
                                                        <div class="col-md-2">
                                                                <a  href="https://github.com/WASdev/lib.angular-rtcomm" type="button" class="btn btn-default" style="width: 100%" class="btn">View On Github</a>
                                                        </div>
                                                </div>
                                        </div>
                                        <div ui-view="introduction"></div>

					<div ui-view="video-demo"></div>

					<div ui-view="chat-demo"></div>
                                        <div ui-view="register-demo"></div>

					<div ui-view="endpoint-status-demo"></div>
					<div ui-view="presence-demo"></div>
		<!--			<div ui-view="sessionmgr-demo"></div>-->
		<!--			<div ui-view="queues-demo"></div>-->
                                <!--    <introduction-dir></introduction-dir>-->
                                        <video  title="selfView2" id="demoSelfView" class="selfView" autoplay="true" muted="true" hidden ></video>
        
                                        <video title="remoteView2" id="demoRemoteView" class="remoteView" autoplay="true" muted="true" hidden ></video>




                        </div>
</div>

</div>
