<nav class="navbar navbar-custom navbar-fixed-top " role="navigation">
                        <div class="container">

                        <div class="navbar-header">
                                <a class="navbar-brand" href="./">
                                       {{title}}</a>
                        </div>
                        <div class="navbar-main" class="nav-bar-collapse">
                                <ul class="nav navbar-nav">

					<li><a href="#gettingStarted">{{gettingStarted}}</a></li>
                                        <li class="dropdown" dropdown="">
                                                <a class="dropdown-toggle"  data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Directives <span class="caret"></span> </a>

                                        <ul class="dropdown-menu">
                                                <li ng-repeat="directive in directives">
							<a href="#{{directive.id}}">{{directive.title}}</a>
						</li>
                                        </ul>

                                        </li>
					<li><a ui-sref="api"ng-class="{active: $state.includes('api')}" href="#/api">{{docs}}</a></li>
					<li><a ui-sref="concepts" href=#/concepts">Community</a></li>
					<li><a href="#samples">{{demos}}</a></li>
                                </ul>
			
                        </div>
                        </div>


        </nav>

