<section id="presence">

	<div class="page-header">

		<h1>Rtcomm Presence</h1>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			<div class="well">
			                <rtcomm-presence  ng-init="monitorTopics=['page']; init({'chat': true, 'webrtc': true, 'flatten': true});"></rtcomm-presence>


			</div>
		</div>
	</div>

	<br/>

	<p>Directive to provide the user with the ability to see other users subscribed to the same topic</p>


	<tabset>



	</tabset>




</section>
