<section id="register">

	<div class="page-header">

		<h2>Rtcomm Register</h2>
	</div>	
		<div class='row'>


			<div class="col-md-4"></div>
			<div class="col-md-4">

				<rtcomm-register></rtcomm-register>

			</div>
		</div>

			<br/>
			<p>
				Directive used to register an endpoint. Registration implies creation of a user record as a retained message on the configured presence topic which can be accessed by any endpoint or service that has permissions to subscribe on the registration topic. This is registration is required after initialization. If the user name is specified in advance, for example via a cookie, the userid can be specified when initializing the RtcommService
			</p>

		<hr>

		<tabset>

			<tab heading="HTML">
				<pre class="prettyprint">

&lt;rtcomm-register&gt;&lt;/rtcomm-register&gt;


				</pre>

			</tab>



		</tabset>




</section>

