<section id=sessionmgr">

	<div class="page-header">
		<h1>Rtcomm Session Manager</h1>

	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum lorem bibendum egestas viverra. Nulla id arcu in tortor semper blandit a eu nisi. Vivamus pharetra vitae elit nec vestibulum. Praesent sed nisi nisi. Curabitur feugiat urna ut ante bibendum porta. Nulla ultrices magna aliquet turpis molestie, et pharetra mauris rhoncus. Phasellus laoreet aliquet libero, in ultricies justo fringilla maximus. Nam posuere neque nulla, quis gravida velit mollis et. </p>	
	<div class="row">

		<div class="col-md-6">
			<rtcomm-sessionmgr></rtcomm-sessionmgr>


		</div>
		<div class="col-md-6">

			<tabset>

				<tab heading="HTML">
				
				</tab>

				<tab heading="JavaScript">
					
				</tab>

			</tabset>

		</div>

	</div>	




</section>"
