

<section id="video">
	<div class="page-header">
		<h1>rtcommVideo</h1>
	</div>		
	
		<div class="row">

			<div class="col-md-3"></div>
			<div class="col-md-6 text-center">
				<div class="well">
					<rtcomm-video></rtcomm-video>
				</div>
				
				<input type='text' ng-model="demoCallerID"  class='form-control' placeholder='Enter the name of someone to call, ex. john_smith'/>			
				<br/>
				 <button type="button"  ng-click="placeCall()"  class="btn btn-primary registered">Place a Call</button>

				<button type="button" ng-click="stopCall()" class="btn">Stop Call</button>
			</div>
			<div class="col-md-3">
			</div>
</div>

<br>
        <p>Start a video and audio conversation using the <strong>video directive</strong>. Have a friend enter the <a href="http://wasdev.github.io/lib.angular-rtcomm">website</a> and register with a name, place a call to them using the name they registered with in the input field above.</p>


                                <p>This directive uses two video streams one for the remote user and one for the local user. If a call is in session, the video streams will by default use this directive to display the video feeds of both users.The WebRTC feature needs to enabled to use this directive.  Basically, one would add the directive to the page and after that initiate a call using the <a href="#"><strong>RtcommService</strong></a> as shown in the example below. Another way to do it is by using <a href="#"><strong>RtcommPresence</strong></a> this allows the user of your application to initiate calls on other people subscribed to the same topic.</p>



				
<hr>	<tabset>
							<tab heading="HTML">
						<pre class="prettyprint">


&lt;div class="well"&gt;			
	&lt;rtcomm-video&gt;&lt;/rtcomm-video&gt;
&lt;/div&gt;

&lt;input type="text" ng-model="demoCallerID" class="form-control" placeholder="Enter the name of someone to call, ex. john_smith" /&gt;
&lt;br/&gt;

&lt;button type="button" ng-click="placeCall()" class="btn btn-primary"&gt;Place a Call&lt;/button&gt;

&lt;button type="button" ng-click="stopCall()" class="btn"&gt;Stop Call&lt;/button&gt;
							</pre>
						</tab>

						<tab heading="JavaScript" >
					
						<pre class="prettyprint">
rtcommPageApp.controller('RtcommVideoDemoCtrl', function($scope, RtcommService){

        /* Data model for the caller name */
	$scope.demoCallerID = "";

        /* Place a call to another user */
        $scope.placeCall = function(){
                /* Use the RtcommService to place a call to a user */
		/*  enable video and audio using 'webrtc'*/
                RtcommService.placeCall($scope.demoCallerID, ['webrtc']);

        }

	/* Stop the active call */
        $scope.stopCall = function(){

                /* Get the active endpoint in the session */
                var activeEndpointUUID =  RtcommService.getActiveEndpoint();

                var activeEndpoint = RtcommService.getEndpoint(activeEndpointUUID);

                /* Disconnect the endpoint from the session */
                activeEndpoint.disconnect();
                
	})
}


							</pre>
						</tab>
					</tabset>

<!--			</div>

		</div>-->

</section>
